body,
code {
  font-family: "JetBrains Mono", "Fira Code", Menlo, DejaVu Sans Mono, Monaco,
    Consolas, Ubuntu Mono, monospace;
}

code {
  color: var(--color);
}

.content {
  flex-flow: column nowrap;
}

// colored highlights and headings
.post strong, .post em {
  color: var(--accent-desaturated);
}
h1, h2, h3 {
  color: var(--accent);
}

.pagination {
  margin: 1rem 0;
  .button {
    max-width: none;
  }
}

.dagamez0ne {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  // scale canvas to screen if it doesn't fit
  canvas {
    max-width: 100%;
    height: unset !important;
  }
}

.copyright {
  flex-flow: row wrap;
  & > * {
    // use spaces instead of css for consistent spacing
    margin: 0 !important;
  }
}

.header__inner {
  align-items: stretch;
}
.header__mole {
  width: 28px;
  background-size: 28px 28px;
  background-repeat: no-repeat;

  &.left-mole {
    background: url("moleThink.png");
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  &.right-mole {
    background: url("moleYo.png");
    background-position: bottom right;
    background-repeat: no-repeat;
  }
}

img {
  display: block;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  box-sizing: border-box;
}

.sidenote {
  font-size: 0.8em;
  padding: 8px 10px;
  margin-left: 10px;
  border-left: 10px solid var(--accent-alpha-70);

  & > *:last-child {
    margin-bottom: 0;
    margin-top: 0;
  }
  margin-bottom: 10px;
  margin-top: 10px;
}

// art gallery

article.artwork {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  img {
    border-radius: 2px;
    background: var(--border-color);
    max-width: 1080px;
    max-height: 1080px;
    @media (max-width: 1080px) {
      max-width: 90vw;
    }
  }
}

.gallery-container {
  align-items: center;

  header,
  .post,
  .artwork p {
    // same max-width and padding as the normal `container center` used elsewhere
    max-width: 864px;
    padding-left: 40px;
    padding-right: 40px;
    img {
      max-width: 100%;
    }
  }

  header {
    text-align: center;
    width: 100%;
  }

  .post {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}

.gallery {
  width: 100vw;
  max-width: 1920px;
  padding: 1em;
  text-align: center;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.gallery-post {
  padding-bottom: 15px;
  flex: 1 1 auto;
  min-width: 300px;
  a {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-decoration: none;
    &:hover {
      text-decoration: underline var(--accent);
    }
  }
  img {
    margin: 0;
  }
}

.gallery-title {
  color: var(--accent);
  margin: 0;
  font-size: 1rem;
}

.license {
  color: #aaa;
}
