# make markdown files show up in github language stats
# source: https://joshuatz.com/posts/2019/how-to-get-github-to-recognize-a-pure-markdown-repo/
**/*.md linguist-vendored=false
**/*.md linguist-generated=false
**/*.md linguist-documentation=false
**/*.md linguist-detectable=true
README.md linguist-detectable=false
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*woff filter=lfs diff=lfs merge=lfs -text
*woff2 filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
