<header class="site-header" role="banner">

  <div class="site-header-content">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="custom-site-nav">
      <a class="page-link" href="/blog/">Blog</a>
      <a class="page-link" href="https://www.artstation.com/moletrooper">Art</a>
    </nav>
  </div>

  <img src="/assets/moleThink.png" class="molemote right">
  <img src="/assets/moleYo.png" class="molemote left">
</header>