:root {
  --accent: rgb(187, 218, 85); // #bada55
  --accent-alpha-20: rgba(187, 218, 85,.2);
  --accent-alpha-70: rgba(187, 218, 85,.7);
  --background: #161f2e;
  --color: whitesmoke;
  --border-color: rgba(255, 255, 255, .1);
}
