{# album is a page with some specific frontmatter fields #}
{% macro album_entry(album) %}
<div class="album-entry">
    <div class="album-media">
        {% set cover = resize_image(path="metal/" ~ album.cover, width=200, height=200, op="fit") %}
            <img
                class="album-cover"
                src="{{ cover }}"
                alt="Cover of {{ album.name }} by {{ album.band }}"
            />
        </a>
    </div>
    <div class="album-text">
        <header>
            <h1 class="post-title">{{ album.band }} — {{ album.name }}</h1>
        </header>
        <div class="post-meta">
            Genre:
            {% for genre in album.genres -%}
                <span>{{ genre }}</span>
                {%- if not loop.last %}, {% endif %}
            {%- endfor -%}
            <br />
            Released {{ album.date | date(format="%Y.%m.%d") }}
        </div>
        {{ album.description | markdown | safe }}
        <div class="album-fav-track">
            Favorite track: <a href="{{ album.song_link }}">{{ album.song_name }}</a>
        </div>
    </div>
</div>
{% endmacro album_entry %}
