{% macro og_preview() %}
    <meta property="og:title" content="{{ social::og_title() }}" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ current_url }}"/>
    {%- if social::og_description() -%}
        <meta property="og:description" content="{{ social::og_description() | trim | safe }}"/>
    {%- endif -%}
    {%- if page.extra.main_image -%}
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:image" content="{{ get_url(path=page.path ~ page.extra.main_image) }}"/>
    {%- elif config.extra.og_preview_img -%}
        <meta property="og:image" content="{{ get_url(path=config.extra.og_preview_img) }}"/>
    {%- endif -%}
{% endmacro og_preview %}

{% macro og_description() %}
    {%- if section -%}
        {%-  if section.description -%}
            {{ section.description }}
        {%- else -%}
            {{ config.description }}
        {%- endif -%}
    {%- elif page -%}
        {%- if page.summary -%}
            {# for some reason markdown line breaks are preserved in this,
                hackery to remove them #}
            {{ page.summary
                | striptags
                | linebreaksbr
                | replace(from="<br>", to=" ")
                | truncate(length=300)
                | safe
            }}
        {%- elif page.description -%}
            {{ page.description }}
        {%- endif -%}
    {%- endif -%}
{% endmacro og_description %}

{% macro og_title() -%}
    {%- if section -%}
        {%- if section.title -%}
            {{ section.title | striptags }} -&nbsp;
        {%- endif -%}
    {%- elif page -%}
        {%- if page.title -%}
            {{ page.title | striptags }} -&nbsp;
        {%- endif -%}
    {%- endif -%}
    {{ config.title }}
{%- endmacro og_title %}
