---
---

@import "minima";



$lime: #bfff5e;
$mint: #81ffb3;
$limemintgradient: linear-gradient(to right, $mint, $lime, $lime, $mint);
$darkcyan: #0e3344;



.site-header {
  background: $limemintgradient;
  border-bottom: 2px solid black;
  color: $darkcyan;

  .site-header-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    padding: 0 30px;

    .custom-site-nav {
      display: flex;
      flex-flow: row nowrap;
      align-content: center;

      .page-link {
        display: flex;
        align-items: center;

        padding: 0 3px;
        margin: 0 3px;
      }
    }

    a {
      color: inherit;
      &:hover {
        text-decoration: none;
        opacity: 0.6;
      }
    }
  }
}

.home-header-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}

.home-header {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  text-align: center;

  width: 100%;
  padding: 30px 0;
  border: 3px solid $darkcyan;
  border-right: none;
  border-left: none;
  
  color: $darkcyan;
  background: $limemintgradient;

  .home-title {
    font-weight: bolder;
    margin-bottom: 0; // margin set on the description
  }

  .home-desc {
    margin: 20px;
  }

  .home-link-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin: 5px 0;
  }
  
  .home-link {
    display: block;

    border: 2px solid $darkcyan;
    border-radius: 5px;

    font-weight: bold;
    color: $darkcyan;

    width: 80px;
    padding: 3px;
    margin: 0 5px;

    &:hover {
      text-decoration: none;
    }

    &.disabled {
      color: gray;
      border-color: gray;
    }
  }
}


.molemote {
  position: absolute;
  bottom: 0;

  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}

@media (max-width: 600px) {
  .molemote.big {
    transform: scale(0.5);

    &.left {
      transform-origin: bottom left;
    }
    &.right {
      transform-origin: bottom right;
    }
  }
}

@media (max-width: 420px) {
  .site-header .site-header-content {
    justify-content: center;

    .custom-site-nav {
      display: none;
    }
  }
}