---
---

@import "minima";

$lime: #cfff88;
$mint: #a0ffc6;
$white: #fdfdfd; // the Minima theme's background color
$limemintgradient: linear-gradient(to right, $mint, $lime, $lime, $mint);
$darkcyan: #0e3344;
$thickborder: 3px solid $darkcyan;
$mildorange: #f0ece2;

main {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

.site-header {
  background: $limemintgradient;
  border-bottom: 2px solid black;
  color: $darkcyan;

  .site-header-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    padding: 0 30px;

    .custom-site-nav {
      display: flex;
      flex-flow: row nowrap;
      align-content: center;

      .page-link {
        display: flex;
        align-items: center;

        padding: 0 3px;
        margin: 0 3px;
      }
    }

    a {
      color: inherit;
      &:hover {
        text-decoration: none;
        opacity: 0.6;
      }
    }
  }
}

.home-header-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.home-header {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  text-align: center;

  width: 100%;
  padding: 30px 0;
  border-bottom: $thickborder;

  color: $darkcyan;
  background: $limemintgradient;

  .home-title {
    font-weight: bolder;
    margin-bottom: 0; // margin set on the description
  }

  .home-desc {
    margin: 20px;
  }

  .home-link-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin: 5px 20px;
  }

  .home-link {
    display: block;

    border: 2px solid $darkcyan;
    border-radius: 5px;

    font-weight: bold;
    color: $darkcyan;

    width: 80px;
    padding: 3px;
    margin: 0 5px;

    &:hover {
      text-decoration: none;
    }

    &.disabled {
      color: gray;
      border-color: gray;
    }
  }
}

.content-wrapper {
  flex-grow: 1;

  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;

  .sidebar {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    &.left {
      background: linear-gradient(to right, $mildorange, $white);
    }
    &.right {
      background: linear-gradient(to left, $mildorange, $white);
    }
  }

  .content {
    flex: 0 1 800px;
    padding: 30px;

    &.float-images {
      img {
        border: $thickborder;
        border-radius: 10px;
        margin: 0 20px 10px 0;
        max-width: 50%;
        float: left;
      }

      p:nth-child(odd) img {
        float: right;
        margin-right: 0;
        margin-left: 20px;
      }
    }

    .latest {
      margin-top: 2rem;
      clear: both;
    }
  }
}

.code-like-img {
  border: 1px solid #e8e8e8;
  background-color: #eef;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .content-wrapper {
    flex-flow: column nowrap;

    border-bottom: none;
    .sidebar {
      &.left {
        order: 1;
      }
      &.right {
        order: 2;
      }
    }

    .content {
      flex: 0 0 auto;
    }
  }
}

.molemote {
  position: absolute;
  bottom: 0;

  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}

.site-footer {
  background: $limemintgradient;
  border-top: $thickborder;

  .footer-col-wrapper {
    color: $darkcyan;
  }
}

@media (max-width: 600px) {
  .molemote.big {
    transform: scale(0.5);

    &.left {
      transform-origin: bottom left;
    }
    &.right {
      transform-origin: bottom right;
    }
  }
}

@media (max-width: 420px) {
  .site-header .site-header-content {
    justify-content: center;

    .custom-site-nav {
      display: none;
    }
  }
}
