{% import "macros/head.html" as head -%}
{% import "macros/logo.html" as logo -%}
{% import "macros/header.html" as header -%}
{% import "macros/extended_header.html" as extended_header -%}
{% import "macros/lists.html" as lists -%}
{% import "macros/posts.html" as posts -%}
{% import "macros/social.html" as social -%}
{% import "macros/utils.html" as utils -%}
{% import "macros/menu.html" as menu -%}
{% import "macros/pagination.html" as pagination -%}
{% import "macros/footer.html" as footer -%}
{% import "macros/extended_footer.html" as extended_footer -%}
{% import "macros/comments.html" as comments -%}

<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        {%- block title -%}
            <title>{{ config.title }}</title>
        {%- endblock title -%}

        {%- block general_meta -%}
            {{ head::general_meta() }}
        {%- endblock general_meta -%}

        {%- block og_preview -%}
            {{ social::og_preview() }}
        {%- endblock og_preview -%}

        {%- block css -%}
            {{ head::styling() }}
        {%- endblock css -%}

        {%- block favicon -%}
            {{ head::favicon() }}
        {%- endblock favicon -%}

        {%- block rss -%}
        {% if section.extra.show_rss_link %}
        {% set rss_path = section.path ~ "rss.xml" %}
        {% set rss_title = section.title %}
        {% else %}
        {% set rss_path = config.feed_filename %}
        {% set rss_title = "All" %}
        {% endif %}
        <link rel="alternate" type="application/rss+xml" title="{{ rss_title }}/{{ config.title }}" href="{{ get_url(path=rss_path) }}">
        {%- endblock rss -%}

        {%- block webmention -%}
            {{ head::webmention_link() }}
        {%- endblock webmention -%}
        
        {%- if page.extra.use_katex -%}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.17/dist/katex.min.css" integrity="sha384-m7SExsh653i7qrG9z4woyDDVbLhG2pGNI4mb9nk0oJN6crOrsvOLezZMnBBRXg+O" crossorigin="anonymous">
        {%- endif -%}
    </head>
    <body>
        {%- if config.extra.full_width -%}
            {%- set container = "container full" -%}
        {%- elif config.extra.center -%}
            {%- set container = "container center" -%}
        {%- else -%}
            {%- set container = "container" -%}
        {%- endif -%}

        {%- if page.extra.container_classes -%}
            {%- set container = container ~ " " ~ page.extra.container_classes -%}
        {%- elif section.extra.container_classes -%}
            {%- set container = container ~ " " ~ section.extra.container_classes -%}
        {%- endif -%}

        <div class="{{ container }}">
            {%- block header -%}
                {{ header::header() }}
            {%- endblock header -%}
            <div class="content">
                {%- block main -%}
                    <div class="post">
                        <p>
                            {{ config.description }}
                        </p>
                        {{ section.content | safe }}
                        <ul>
                        {% for menu_item in config.extra.main_menu -%}
                            <li>
                                {%- if menu_item.rel_me -%}
                                {# rel=me used for Mastodon verification #}
                                <a rel="me" href="{{ menu::get_link(item=menu_item) }}" >{{ menu_item.name }}</a>
                                {%- else -%}
                                <a href="{{ menu::get_link(item=menu_item) }}" >{{ menu_item.name }}</a>
                                {%- endif -%}
                            </li>
                        {% endfor -%}
                        </ul>
                    </div>
                {%- endblock main -%}
            </div>

            {%- block pagination -%}
                {{ pagination::paginate() }}
            {%- endblock pagination -%}

            {%- block license -%}
            {# license empty by default, defined on artwork pages #}
            {%- endblock license -%}

            {%- block footer -%}
                <footer class="footer">
                    <div class="footer__inner">
                        {%- block copyright -%}
                            <div class="copyright">
                                <span>© {{ now() | date(format="%Y") }} {{ config.extra.copyright }}</span>
                                <span>&nbsp;::&nbsp;</span>
                                <span>Powered by <a href="https://www.getzola.org/">Zola</a></span>
                                <span>&nbsp;::&nbsp;</span>
                                <span>Theme based on <a href="https://github.com/ejmg/zerm">zerm</a> by <a href="https://github.com/ejmg">ejmg</a></span>
                                <span>&nbsp;::&nbsp;</span>
                                <span>Font: <a href="https://www.jetbrains.com/lp/mono/">JetBrains Mono</a></span>
                            </div>
                        {%- endblock copyright -%}

                        {%- block script -%}
                            {{ footer::script() }}
                        {%- endblock script -%}
                    </div>
                </footer>
            {%- endblock footer -%}
        </div>
    </body>
</html>
