{% extends "index.html" -%}
{% import "macros/gallery_link.html" as gl %}

{%- block title %}
    <title>{{ config.title }}/{{ page.title }}</title>
{%- endblock title -%}

{%- block main -%}
    <article class="post">
        <header>
            <h1 class="post-title">
                <a href="{{ page.permalink }}">{{ page.extra.character }}</a>
            </h1>
        </header>

        {# main image on character pages is the square portrait,
        never included in the actual page #}

        {{ page.content | safe }}

        {% set term = get_taxonomy_term(kind="characters", term=page.extra.character) %}

        <h2>Artworks featuring {{ page.extra.character }} ({{ term.page_count }} pages):</h2>
    </article>

    <div class="posts gallery">
        {%- for page in term.pages -%}
            {{ gl::gallery_link(page=page) }}
        {%- endfor -%}
    </div>
{%- endblock main -%}
