{% extends "index.html" -%}
{% import "licenses/cc0.html" as cc0 -%}

{%- block title %}
    <title>{{ config.title }}/{{ page.title }}</title>
{%- endblock title -%}

{%- block main -%}
    <article class="artwork">
        <header>
            <h1 class="post-title">
                <a href="{{ page.permalink }}">{{ page.title }}</a>
            </h1>
            {# custom meta section to include character taxonomy #}
            <div class="post-meta">
                <span class="post-date">
                    {%- if page.date -%}
                        {{ page.date | date(format="%Y.%m.%d") }}
                    {%- endif -%}
                </span>
                {%- if page.taxonomies.characters -%}
                <br/>
                Characters:
                {% for char in page.taxonomies.characters %}
                    <a href="{{get_taxonomy_url(kind="characters", name=char )}}">{{ char }}</a>
                    {%- if not loop.last -%}
                    ,
                    {%- endif -%}
                {% endfor %}
                {%- endif -%}
                {%- if page.extra.license -%}
                <br/>
                License: {{ page.extra.license }}
                {%- endif -%}
            </div>
        </header>

        {%- if not page.extra.skip_main_image -%}
        <img src={{ page.extra.main_image }} alt="{{ page.extra.main_image_alt }}" />
        {%- endif -%}

        {{ page.content | safe }}
    </article>
{%- endblock main -%}

{%- block license -%}
{%- if page.extra.license and page.extra.license == "CC0" -%}
{{ cc0::license() }}
{%- endif -%}
{%- endblock license -%}
