---

---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  <div class="home-header-wrapper">
    <div class="home-header">

      <h1 class="home-title">{{ site.title }}</h1>
      <p class="home-desc">{{ site.description }}</p>

      <div class="home-link-container">
        <a class="home-link" href="/blog/">
          Blog
        </a>
        <a class="home-link" href="https://www.artstation.com/moletrooper">
          Art
        </a>
      </div>

      <img src="/assets/moleThink_big.png" class="molemote big right">
      <img src="/assets/moleYo_big.png" class="molemote big left">
    </div>
  </div>

  <main aria-label="Content">

    <div class="content-wrapper">
      <div class="sidebar left"></div>
      <div class="content">
        {{ content }}

        <div class="latest blog">
          <h1>Latest blog post</h1>
          {% assign post = site.posts.first %}
          {% assign content = post.content %}
          {% include post_detail.html %}
        </div>
      </div>
      <div class="sidebar right"></div>
    </div>

  </main>

  {%- include footer.html -%}

</body>

</html>